body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-image: url('image/fond_menu.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

header {
    background: linear-gradient(#700, #c00);
    text-align: center;
    padding: 20px;
    width: 100%;
    color: white;
}

h1 {
    margin: 0;
}

.menu-section {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: #228B22;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer {
    background: linear-gradient(360deg, #700, #c00);
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    color: white;
}
